<h1>Hello World from Index</h1>

<%= link_to('Hello Page', {:action => 'hello'}) %>
<br />
<%= link_to('Redirect to Hello', {:action => 'other_hello'}) %>
<br />
<%= link_to('With Parameters', {:action => 'hello', :page => 5, :id => 20}) %>